/* Reset some default styles */
body, h1, p, ul, li, a {
  margin: 10;
  padding: 10;
  list-style: none;
  text-decoration: none;
}

/* Basic styling for the header */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo */
.logo {
  font-size: 20px;
}

/* Style for the navigation */
.nav {
  display: flex;
  align-items: center;
}

/* Style for the navigation items */
.nav ul {
  display: flex;
}

.nav ul li {
  margin-right: 15px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* Hover effect for the navigation items */
.nav a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

/* Basic styling for the content card */
.content-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* Style for the title */
.content-card h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style for the detail/content */
.content-card p {
  color: #666;
  font-size: 16px;
}


/* Basic styling for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style for the copyright text */
.footer p {
  margin: 0;
  font-size: 14px;
}

/* Style for the company name */
.footer p span {
  font-weight: bold;
}
